@import url('https://fonts.googleapis.com/css2?family=Faculty+Glyphic&display=swap');

:root{
    --primary-100:#8f001a;
    --primary-200:#FF6B6B;
    --primary-300:#dedeff;

    --accent-100:#09554c;
    --accent-200:#008b7a;

    --text-100:#191919;
    --text-200:#6c6c6c;

    --bg-100:#dfdeda;
    --bg-200:#f4f2ee;
    --bg-300:#f4f2ee;

    --border: #d4d3cd;
}
#Scroll-To-Top{
    position: fixed;
    right: 2%;
    bottom: 2%;
    font-size: 2em;
    display: none;
    cursor: pointer;
    color: var(--accent-200);
}
#Scroll-To-Top:hover{
    color: var(--primary-200);
}
#Scroll-To-Top.Show {
    display: block;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Faculty Glyphic", serif;
    list-style: none;
    text-decoration: none;
}
body{
    width: 100%;
    background-color: var(--bg-100);
    color: var(--text-100);
}
header{
    z-index: 9999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 80px;
    position: fixed;
    width: 100%;
}
#Header .Logo,
#Header button,
footer .Footer-Links button{
    color: var(--bg-100);
}
.header-background{
    background-color: var(--primary-100);
    box-shadow: 0px 0px 4px 1px #000000a1;
}
header .Header-Links,
footer .Footer-Links{
    display: flex;
    gap: 40px;
    align-items: center;
}
header .Header-Links button,
footer .Footer-Links button{
    background: transparent;
    border: none;
    font-size: 1em;
    cursor: pointer;
}
header .buttons{
    display: flex;
    gap: 16px;
    align-items: center;
}
header .buttons a,
footer .buttons a{
    padding: 2px 6px;
    border: 1px solid var(--border);
    border-radius: 50px;
    padding: 3px 12px;
    color: var(--bg-100);
}
header .buttons a:hover,
footer .buttons a:hover{
    background-color: var(--accent-200);
}
header .buttons i{
    font-size: 1.4em;
    cursor: pointer;
    color: var(--bg-100);
}

/* -------- Profil Section -------- */
.LandingPage{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
section.Profil-Section{
    width: 100%;
    height: 50vh;
    position: relative;
}
section.Profil-Section img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
section.Profil-Section .Profil-Circle{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-color: var(--primary-100);
    border: 4px solid var(--bg-200);
    position: absolute;
    bottom: -60px;
    left: 100px;
    overflow: hidden;
}
section.Profil-Section .Profil-Circle img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* ----------- Infos Section ----------- */

.Container{
    width: 90%;
    border-radius: 10px;
    padding: 20px 40px;
    background-color: var(--bg-200);
    border: 1px solid var(--border);
    margin-top: 20px;
}
section.Infos{
    border-radius: 0px 0px 10px 10px;
    padding: 70px 40px 0px 40px;
    margin: 0px;
    border-top: none;
}
section.Infos .Title-Certificates,
section.Infos .Title-Certificates .Certificats ul{
    display: flex;
    align-items: center; 
}
section.Infos .Title-Certificates{
    gap: 30px; 
}
section.Infos .Title-Certificates .Certificats ul{
    gap: 6px;
}
section.Infos .Title-Certificates .Certificats ul li{
    border:  1px dashed var(--accent-200);
    padding: 0px 10px;
    border-radius: 50px;
}
section.Infos .Title-Certificates .Certificats ul li a{
    color: var(--text-200);
}
section.Infos .Title-Certificates .Certificats ul li a i{
    font-size: 0.8em;
}
section.Infos h1{
    font-size: 2.4em;
}
section.Infos p{
    padding-top: 2vh;
    width: 50%;
}
section.Infos li.Maps{
    margin-top: 1vh;
}
section.Infos li.Maps a{
    color: var(--text-200);
}
section.Infos li.Maps a i{
    margin-left: 1vh;
}
section.Infos .Navigation-Buttons{
    display: flex;
    gap: 20px;
    margin: 2vh 0px;
}
section.Infos .Navigation-Buttons button{
    border: 1px solid var(--accent-200);
    padding: 4px 16px;
    border-radius: 50px;
    background-color: transparent;
    color: var(--accent-200);
    font-size: 1em;
    cursor: pointer;
}
section.Infos .Navigation-Buttons button#Language-Proficiency{
    background-color: var(--accent-200);
    border: none;
    color: var(--bg-200);
}

/* ------------ Languages Proficiency ------------ */

.Proficiency .Languages{
    display: flex;
    margin-top: 4vh;
    justify-content: center;
    gap: 20px;
    align-items: center;
}
.Proficiency .Language-Card{
    padding: 60px 40px;
    background-color: var(--accent-200);
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--bg-100);
}
.Proficiency progress{
    height: 3vh;
    color: var(--primary-100);
    appearance: none;
}
progress::-webkit-progress-bar {
    background-color: var(--accent-100);
    border-radius: 10px;
}
  
progress::-webkit-progress-value {
    background-color: var(--primary-100);
    border-radius: 10px;
}


.Proficiency b{
    margin-top: 10px;
}

/* ------------ My Skills Section ------------ */

.Cards,
.Projects-Cards{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin: 20px 0px;
}
.MySkills{
    background-color: var(--accent-200);
}
.MySkills:hover{
    background-color: var(--accent-100);
}
.AddSkills{
    background-color: var(--primary-100);
}
.AddSkills:hover{
    background-color: var(--primary-200);
}
.Cards .Card{
    padding: 20px 60px;
    border-radius: 6px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}
.Cards .Card i{
    font-size: 4em;
}

/*  */

.Projects-Cards{
    width: 100%;
}
.Projects-Cards .Project-Card{
    width: 300px;
    border-radius: 6px;
    overflow: hidden;
    border: 1px solid var(--border);
}
.Projects-Cards .Project-Card .Project-Image img{
    width: 100%;
    height: 100%;
}
.Card-Content{
    padding: 0px 10px;
}
.Card-Content .Under-Content{
    display: flex;
    justify-content: space-between;
    padding: 10px 6px;
    color: var(--text-100);
}
.Card-Content .Under-Content li a{
    padding: 2px 12px;
    background-color: var(--accent-100);
    color: var(--bg-100);
    border-radius: 50px;
}
.Card-Content .Under-Content span{
    max-width: 60%;
    color: var(--accent-100);
}
.Projects-Cards .Project-Card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.Project-Image i#Loading{
    font-size: 4em;
    padding: 28px;
    margin-inline: auto;
    color: var(--text-200);
}
#Disabled{
    cursor: no-drop;
    background-color: var(--text-200);
}
/* -------------- Footer -------------- */

footer{
    background-color: var(--primary-100);
    padding-top: 20px;
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
footer .Logo{
    color: var(--accent-200);
    font-size: 2em;
    position: relative;
}
footer .Logo::after{
    position: absolute;
    content: "";
    width: 50px;
    height: 2px;
    background-color: var(--accent-200);
    bottom: 0;
    right: 25%;
}
footer p{
    color: var(--accent-200);
    padding: 10px 0px;
}
/* -------------- Dark Mode -------------- */

.Dark{
    color: var(--bg-100);
    background-color: var(--text-100);
    transition: .3s ease-in-out;
    border: 1px solid #c7c0c042;
}
.Dark header{
    border: none;
}
.Dark .Projects-Cards .Project-Card{
    border: 1px solid #c7c0c042;
}

.Soon-Message{
    color: var(--primary-100);
    text-align: center;
    width: 100%;
    display: none;
}

@media (max-width:1230px){
    .LandingPage,
    header,.Profil-Section{
        display: none;
    }
    .Soon-Message{
        display: block;
    }
}